---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />


  <div class="mx-auto w-full max-w-3xl">
    <iframe class="w-full" src="https://docs.google.com/forms/d/e/1FAIpQLSehzIIsJhCJTkLB4qaYjiWZ8dN2voWxIhxmPr6vAOx8y1M79w/viewform?embedded=true" width="640px" height="800px" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading…</iframe>
  </div>

  
  <div style="text-align:center;  width:100%;">
      
  </div>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Message us for inquiries related to account management, website navigation or general questions about us.`,
      },
      {
        title: 'Contact sales',
        description:
          'Message us for questions about pricing, customization options, workflow solutions, etc.',
      },
      {
        title: 'Technical support',
        description:
          'Message us when facing issues like workflow activation, problems with account linking, API errors, or other technical challenges related to using the automation workflow.',
      },
      {
        title: 'Phone',
        description: '+1 (724) 995-2585',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'contact@rogverse.fyi',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Manila, Philippines',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
